In [468]:
import os 
import pandas as pd
from pandas import ExcelWriter
import matplotlib.pyplot as plt
import re

pd.set_option('display.max_columns',6)
pd.set_option('display.max_rows', 10)
path="C:\\Users\\yesta\\Desktop"
os.chdir(path)

In [469]:
#df = pd.read_excel("budget copy.xlsx", "Sheet2")

df = pd.read_excel("budget14oct231.xlsx", "budget")

date_pattern = r'([0-9]{4}-[0-9]{2}-[0-9]{2})'
row1 = df.iloc[:,0]
#print(row1)

In [ ]:
categories = df.iloc[1:13, 22:24]
categories.columns = ["expenses", "amount"]
categories["amount"] = 2

a = pd.DataFrame({"expenses": ["Health", "Income"], "amount": [1, 2]})

print(categories, a)

In [470]:
all_dates = {}

first_date = str(df.columns.values[0])[:10]
# print('asfaef', first_date)
all_dates[0] = first_date

i = 0
j = 1
for i in range(0, len(row1)):
    date = re.search(date_pattern, str(row1[i]))
   # print(date)
    if date:
       # print(date.group())
        all_dates[j] = date.group()
        j += 1

#for thing in all_dates:
#    print(thing, all_dates[thing])

#print(len(row1))

In [471]:
cycle_dates = {int(k/2):v for (k,v) in all_dates.items() if k%2==0}
print(cycle_dates)

offset = 3
total_cols = (len(df.columns)+1)
df.drop(df.iloc[:, 1:total_cols:offset], axis=1, inplace=True)

cycle = 30
no_cycles = int(df.index[-1] / cycle)
print(no_cycles)
print(df.index[-1])

{0: '2023-04-05', 1: '2023-04-19', 2: '2023-05-03', 3: '2023-05-17', 4: '2023-05-31', 5: '2023-06-14', 6: '2023-06-28', 7: '2023-07-12', 8: '2023-07-26', 9: '2023-08-09', 10: '2023-08-23', 11: '2023-09-06', 12: '2023-09-20', 13: '2023-10-04', 14: '2023-10-18', 15: '2023-11-01'}
16
508

In [472]:
def clean_df(df):
    #remove all rows with no values
    df = df.dropna(how="all")
   # print(df)

    # get only expenses
    df2 = df.iloc[:,0:total_cols:2]
    #print(df2) 

    # get all expenses
    df2 = df2.melt().drop('variable',axis=1).rename({"value": "expense"}, axis=1)
    df2 = df2.dropna(how="all")
   # print(df2)


    df4 = df.iloc[:,1:total_cols:2]
    df5 = df4.melt().drop('variable',axis=1).rename({"value": "amount"}, axis=1)
    df5 = df5.dropna(how="all")
   # print(df4)
    #print(df5)

   # print(df2)
    df2["amount"] = df5.abs()
    df2.columns = ["expense", "amount"]

    df2 = df2.groupby("expense", as_index=False).sum()

#    i = df2[(df2["expense"] == "Income")]
#    df2 = df2.drop(i.index, axis=0)

 #   df2 = df2.sort_values(by=["amount"], ascending = False)

    return df2

df1 = df.iloc[0:cycle, :]
df1 = df1.drop(REMOVE, axis=0)
#print(df1)
#clean_df(df1)

In [473]:

def make_graph(df):
    plot = df.plot.pie(y="amount", labels=df["expense"], autopct='%1.0f%%')
   # plt.show()

In [474]:
#print(df.iloc[0:cycle, :])
REMOVE = [11, 15, 27, 28]
#print(df.iloc[15, 0])

   2023-04-05 00:00:00  Unnamed: 2 2023-04-06 00:00:00  ...  Unnamed: 21
0                  NaN    -1417.36                 NaN  ...          NaN  \
1           Eating out       47.00                 NaN  ...          NaN
2   Gifts/celebrations       42.16                 NaN  ...          NaN
3            Groceries        0.99                 NaN  ...          NaN
4                Other        2.00                 NaN  ...          NaN
..                 ...         ...                 ...  ...          ...
25                 NaN         NaN                 NaN  ...          NaN
26                 NaN         NaN                 NaN  ...          NaN
27        daily amount         NaN                 NaN  ...          NaN
28        cycle amount         NaN                 NaN  ...          NaN
29                 NaN         NaN                 NaN  ...          NaN

   Unnamed: 23  Unnamed: 24
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
..         ...          ...
25         NaN          NaN
26         NaN          NaN
27         NaN          NaN
28         NaN          NaN
29         NaN          NaN

[30 rows x 17 columns]
2023-04-12 00:00:00

In [475]:
df_dict = {}
i = 0
writer = pd.ExcelWriter("budget14oct231.xlsx", engine = 'openpyxl', mode='a', if_sheet_exists='overlay')
while (i < (no_cycles)):
    df1 = df.iloc[0:cycle, :]
    df1 = df1.drop(REMOVE, axis=0)
  #  print(df1)
    df1 = clean_df(df1)
    df_dict[i] = df1
   # print(df1)


    df2 = pd.DataFrame({'expense': [cycle_dates[i]], 'amount': [0]})
    df3 = pd.concat([df2, df1])
  
    df3.to_excel(writer, sheet_name = 'test50', startrow = i//4*15, startcol = i%4*3+3, index=False)
  #  make_graph(df1)

    df = df.tail(-32)
    df.reset_index(drop=True, inplace=True)
    
    i = i + 1
writer.close()